body 
{ 
	scrollbar-face-color: #97C9F7; 
	scrollbar-arrow-color: #4794D5; 
	scrollbar-track-color: #ffffff; 
}

.body
{
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;
	text-align: justify;
	padding-left: 25px;
	overflow-y: visible;
}

.txt 
{ 
	text-align: justify;
	line-height: 125%; 
}

table, tr, td, p, div 
{
	font-family: Verdana;
	font-size: 36px;
	color: #111;
	padding-top: 10px;
}

table.x 
{
	color: #3f3f3f;
	background: #fff;
	border: 0px solid #3789D6;
}

table.x td 
{
	font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
	background: #fff;
	padding: 2px;
}

table.x th 
{
	background: #4794D5;
	vertical-align: middle;
	font-size: 13px;
	font-weight: bold;
	color: white;
	text-align: center;
	width: 100%;
	height: 20px;
	text-transform: uppercase;
}

.desc 
{ 
	font-family: tahoma;
	font-size: 11px;
	color: #3375B3; 
}

a:link
{ 
	color:#2A1FFF;
	text-decoration: none; 
}


a:visited, a:active 
{ 
	color: #555555;
	text-decoration: none; 
}

a:hover 
{
	text-decoration: underline;
	color: #000;
}

.sub 
{ 
	color: #ff6600;
	font-family: Tahoma;
	font-weight: bold;
	text-decoration: none; 
}
.subject
{
	color: #ff6600;
	font-size: 16px;
	font-family: Tahoma;
	font-weight: bold;
	text-decoration: none;
}
.subTitle
{
	margin-left: 50px; 
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom:10px;
	padding-left: 40px
	font-family: tahoma;
	font-size: 14px; 
	font-weight: bold; 
	color: #006;
}
a.sub:link, a.sub:visited, a.sub:active 
{ 
	color: #ff6600; 
}

a.sub: hover 
{ 
	text-decoration: underline; 
}

.cat 
{ 
	padding-left: 12px;
	color: #3375B3;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: none; 
}

a.cat:link, a.cat:visited, a.cat:active 
{ 
	color: #3375B3; 
}

a.cat:hover 
{ 
	text-decoration: underline; 
}

.topic 
{ 
	font-family: tahoma;
	font-size: 11px; 
	font-weight: bold; 
	color: #3375B3;
}

a.topic:link, a.topic:active, a.topic:visited 
{ 
	color: #3375B3;
}

a.topic:hover 
{ 
	color: red;
	text-decoration: none; 
}

.continue
{ 
	font-family: tahoma;
	font-size: 12px; 
	font-weight: normal; 
	color: #900;
	padding-left: 25px;
}

.item
{ 
	font-family: tahoma;
	font-size: 12px; 
	font-weight: normal; 
	color: #000;
	padding-left: 25px;
}

a.continue:link, a.xemtiep:active, a.xemtiep:visited, a:link 
{ 
	color: #900;
}

a.continue: hover 
{
	color: #900;
}

.form 
{	
    color: #666666;
    font-family: Tahoma;
    font-size: 8pt;
    font-weight: normal;
    background: #eeeee9;
    border-right: 1px solid #c5c5c5;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #c5c5c5;
    padding: 2px;
}

.submit 
{	
	color: #0F4B74;
	font-family: Tahoma;
	font-size: 8pt;
	font-weight: normal;
	background: #eeeee9;
	border-right: 1px solid #808080;
	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
	border-bottom: 1px solid #808080;
	padding: 1px;
	cursor: pointer;
}

.mytitle {
	color: #F60;
	font-weight: bold;
	font-size: 24px;
}
